.App {
  text-align: center;
  background-color: #0f172a;
  color: white;
}

.App-header {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.toolbar {
  background-color: #1E293B;
}

.divider {
  background: #484D4B;
}

.camino-title {
  color: #149EED;
}
